body {
  font-family: "Proza Libre", sans-serif;
  background-color: rgb(244, 244, 244);
}

a {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  margin: 30px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px 0;
}

h2 {
  padding: 20px 0;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 0;
}

label,
input,
textarea,
img {
  display: block;
  width: 100%;
}

label {
  margin: 10px 0 3px;
  font-weight: bold;
  font-size: 1rem;
}

.photo {
  max-width: 350px;
}

.input-slyle {
  padding: 10px;
  border: 1px solid lightgray;
}

.white-font-style {
  color: white;
  background-color: #562b81;
}

button {
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.button {
  text-align: right;
}

.list-item {
  list-style-type: none;
  display: inline-block;
}

li.list-item > h3 {
  margin-top: 0;
  position: relative;
}

ul {
  padding: 0;
}

.fa-solid {
  color: #562b81;
  padding-top: 5px;
  position: relative;
  left: 19rem;
  top: 1rem;
}

.new-entries-button {
  text-align: end;
}

.display-inline {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .flex {
    display: flex;
  }

  .list-item {
    margin: 20px 0;
  }

  li.list-item > img {
    float: left;
    padding-right: 20px;
  }

  li.list-item > h3 {
    margin-top: 0;
  }

  .fa-solid {
    position: relative;
    left: 29rem;
  }
}
